*.dll
*.lib
*.exe
*.swp


generated/*
out/debug/*.exe
out/debug/*.log
out/debug/log/*
out/release/*

out/debug/remote_list_ignored_files.txt
out/debug/remote_list_new_files.txt
out/release/remote_list_ignored_files.txt
out/release/remote_list_new_files.txt

out/debug/Battle
out/debug/Configurator
out/debug/DataBase
out/debug/Hangar
out/debug/Master
out/debug/Monitor
out/debug/Uploader

out/release/Battle
out/release/Configurator
out/release/DataBase
out/release/Hangar
out/release/Master
out/release/Monitor
out/release/Uploader


src/ThirdParty/opus/generated/*
