generated/*
out/debug/*.exe
out/release/*.exe

out/debug/Battle
out/debug/Configurator
out/debug/DataBase
out/debug/Hangar
out/debug/Master
out/debug/Monitor
out/debug/Uploader

out/release/Battle
out/release/Configurator
out/release/DataBase
out/release/Hangar
out/release/Master
out/release/Monitor
out/release/Uploader
